<ion-header>

	<ion-navbar>
		<ion-title>Login</ion-title>
	</ion-navbar>

</ion-header>

<style type="text/css">
	ion-input{
		color: #ffffff;
	}
</style>

<ion-content padding>

	<div class="alert alert-success" role="alert" *ngIf="sucesso">
		Formulário enviado com sucesso!
		<br />
	</div>

	<form  (ngSubmit)="loginUser()" >
		<ion-list>
			<!-- <input [(ngModel)]="email" name="email">
			<p>Value: {{ email }}</p> -->
			<ion-label stacked >E-mail</ion-label>
			<ion-input type="text"  [(ngModel)]="usuario.email" name="email" ></ion-input>
			<ion-label stacked>Senha</ion-label>
			<ion-input type="password"  [(ngModel)]="usuario.senha" name="senha" ></ion-input>
		</ion-list>

		<ion-buttons>
			<div class="col-sm-2">
				<button type="submit" ion-button round color="light" outline class="outline-btn">Login</button>
			</div>
		</ion-buttons>

		<div padding class="error" *ngIf="error">
			<p>{{error}}</p>
		</div>
	</form>
	<div class="col-sm-12">
		<a (click)="openRegistrarPage()" ><label style="color: #c7c7c7" >Ainda não tem uma conta ? Clique aqui</label></a>
	</div>


	<!-- <ion-label stacked >E-mail</ion-label>
	<ion-input type="text" id="email" name="email" 	value="" ></ion-input>

	<ion-label stacked>Senha</ion-label>
	<ion-input type="password" ng-model="senha" value="" ></ion-input>

	<ion-buttons>
		<div class="col-sm-2">
			<button  ion-button round color="light" outline class="outline-btn" (click)="loginFunction()" >Entrar</button>
		</div>
	</ion-buttons>

	<ion-buttons>
		<div class="col-sm-2">
			<button  ion-button round color="light" outline class="outline-btn" (click)="testeLabel(senha)" >Teste</button>
		</div>
	</ion-buttons> -->
</ion-content>
