page-home {
   // background-image: url(../../../static/img/home-background.jpg); 
}

ion-icon{
	margin-right: 5px;
}

.home{
	background-image: url(../../../static/img/home-background.jpg); 
	background-size: 100%;
}
.outline-btn {
	width: 100%;
}

.logo {
	height: 50%;
	width: 80%;
	padding-left: 22%;
	.logo-icon {
		text-align: center;
		font-size: 40px;
		padding-top: 40%;
		color: white;
	}
}

.facebook-btn {
	background-color: #3b5998;
}

.google-btn {
	background-color: #d34836;
}